@using VacationManager.Web.ViewModels.CEO;

@model AvailableTeamsViewModel

<div>
    <div class="available-teams-container">
        @if (Model.AvailableTeams.Count() == 0)
        {
            <h1>Няма свободни отбори!</h1>
        }
        else
        {
            @foreach (AvailableTeamViewModel team in Model.AvailableTeams)
            {
                <div class="available-team">
                    <h1>@team.Name</h1>
                    <h2>Воден он @team.LeaderName</h2>
                    <p>Отборът @team.Name в момента работи по проект наречен @team.CurrentProjectName</p>
                    <a href="/CEO/CEO/AddClientToTeam?customerId=@Model.CustomerId;teamId=@team.TeamId">Добави клиента към отбора!</a>
                </div>
                <br />
            }
        }
    </div>
</div>