<div class="row">
    <div class="col-md-12">
        <a asp-area="CEO" asp-action="CustomerList">Списък с клиенти</a>
        <a asp-area="Identity" asp-page="/Account/Register">Регистрирай клиент</a>
    </div>
</div>