@using VacationManager.Web.ViewModels.Administration;

@model CEOInputModel

<div class="row">
    <div class="col-md-12">
        <a asp-area="Administration" asp-action="AddCEO">Добави CEO</a>
        <a asp-area="Administration" asp-action="RemoveCEO">Премахни CEO</a>
    </div>
</div>