@model Project_Flight_Manager.Models.ReservationDataModel

@{
    ViewData["Title"] = "Edit";
}
<style>
    .content{
        color:white;
        background-color: rgba(163, 167, 204, 0.2);
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .col-md-4 {
    max-width: fit-content;
    }
      .back-btn{
        position: absolute;
        top: 10%;
        left: 17%;
        padding: 9px 15px;
        border: 0 none;
        color: #ffffff;
        box-shadow: none;
        border-radius: 7px;
        }
        
        .form-group{
        color:white;
        font-weight:bold;
        width: max-content;
        .btn{
        margin-left:133px;
        }
</style>

<div class="content">
<h1>Edit</h1>

<h4>ReservationDataModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FirstName" />
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EGN" class="control-label"></label>
                <input asp-for="EGN" class="form-control" />
                <span asp-validation-for="EGN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelNumber" class="control-label"></label>
                <input asp-for="TelNumber" class="form-control" />
                <span asp-validation-for="TelNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketType" class="control-label"></label>
                <input asp-for="TicketType" class="form-control" />
                <span asp-validation-for="TicketType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn-primary back-btn" asp-action="Index">Back to List</a>
</div>
</div>

